# 1. Understanding pandas and NumPy

The Pandas library provides solutions for many issues found in NumPy. It should be considered an extension of NumPy.

Instead of NumPy 2D ndarrays, we will be using Dataframes.

# 2. Introduction to the Data

In [1]:
import pandas as pd
f500=pd.read_csv("f500.csv",index_col=0)
f500.index.name=None

f500_type=type(f500)
f500_shape=f500.shape

# 3. Introducing DataFrames

In [2]:
f500_head=f500.head(6)
f500_tail=f500.tail(8)

# 4. Introducing DataFrames Continued

In [4]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

# 5. Selecting a Column From a DataFrame by Label

In [7]:
industries=f500["industry"]
industries_type=type(industries)
print(industries_type)

<class 'pandas.core.series.Series'>

# 6. Introduction to Series

A Pandas Series is a 1D Pandas object. Pandas handles dataframes as a collection of differens series.

# 7. Selecting Columns From a DataFrame by Label Continued

In [9]:
countries=f500["country"]

revenues_years=f500[["revenues","years_on_global_500_list"]]
ceo_to_sector=f500.loc[:,"ceo":"sector"]

#  8. Selecting Rows From a DataFrame by Label

In [14]:
toyota=f500.loc["Toyota Motor",:]
drink_companies=f500.loc[["Anheuser-Busch InBev","Coca-Cola","Heineken Holding"],:]

middle_companies=f500.loc["Tata Motors":"Nationwide","rank":"country"]

# 9. Series vs Dataframes

# 10. Value Counts Method

In [30]:
f500_sel=f500.loc[["Walmart","State Grid",'Sinopec Group',"China National Petroleum","Toyota Motor","Apple"],:]

countries=f500_sel["country"]

country_counts=countries.value_counts()

# 11. Selecting Items from a Series by Label

In [32]:
countries = f500['country']
countries_counts = countries.value_counts()

india=countries_counts["India"]
north_america=countries_counts[["USA","Canada","Mexico"]]

# 12. Summary Challenge

Select by Label 	Explicit Syntax 	Shorthand Convention

Single column from dataframe 	df.loc[:,"col1"] 	df["col1"]

List of columns from dataframe 	df.loc[:,["col1","col7"]] 	df[["col1","col7"]]

Slice of columns from dataframe 	df.loc[:,"col1":"col4"] 	

Single row from dataframe 	df.loc["row4"] 	

List of rows from dataframe 	df.loc[["row1", "row8"]] 	

Slice of rows from dataframe 	df.loc["row3":"row5"] 	df["row3":"row5"]

Single item from series 	s.loc["item8"] 	s["item8"]

List of items from series 	s.loc[["item1","item7"]] 	s[["item1","item7"]]

Slice of items from series 	s.loc["item2":"item4"] 	s["item2":"item4"]

In [34]:
big_movers=f500.loc[["Aviva","HP","JD.com","BHP Billiton"],["rank","previous_rank"]]
bottom_companies=f500.loc["National Grid":"AutoNation",["rank","sector","country"]]