# 1. Understanding pandas and NumPy

The Pandas library provides solutions for many issues found in NumPy. It should be considered an extension of NumPy.

Instead of NumPy 2D ndarrays, we will be using Dataframes.

# 2. Introduction to the Data

In [1]:
import pandas as pd
f500=pd.read_csv("f500.csv",index_col=0)
f500.index.name=None

f500_type=type(f500)
f500_shape=f500.shape

# 3. Introducing DataFrames

In [2]:
f500_head=f500.head(6)
f500_tail=f500.tail(8)

# 4. Introducing DataFrames Continued

In [4]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

# 5. Selecting a Column From a DataFrame by Label