# 1. Introduction

In [3]:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}

for file in data_files:
    d=pd.read_csv(f"schools/{file}")
    key_name=file.replace(".csv","")
    data[key_name]=d
    
print(data)

all_survey=pd.read_csv("schools/survey_all.txt", delimiter="\t", encoding="windows-1252")

d75_survey=pd.read_csv("schools/survey_d75.txt", delimiter="\t", encoding="windows-1252")

survey=pd.concat([all_survey, d75_survey], axis=0)

print(survey.head())

survey["DBN"]=survey["dbn"]

survey_fields=["DBN", 
               "rr_s", 
               "rr_t", 
               "rr_p", 
               "N_s", 
               "N_t", 
               "N_p", 
               "saf_p_11", 
               "com_p_11", 
               "eng_p_11",
               "aca_p_11", 
               "saf_t_11", 
               "com_t_11", 
               "eng_t_11", 
               "aca_t_11", 
               "saf_s_11", 
               "com_s_11", 
               "eng_s_11", 
               "aca_s_11", 
               "saf_tot_11",
               "com_tot_11",
               "eng_tot_11", 
               "aca_tot_11"]

survey=survey.loc[:,survey_fields]

data["survey"]=survey

print(data["survey"])

def pad_csd(num):
    return str(num).zfill(2)

data["hs_directory"]["DBN"]=data["hs_directory"]["dbn"]

data["class_size"]["padded_csd"]=data["class_size"]["CSD"].apply(pad_csd)

data["class_size"]["DBN"]=data["class_size"]["padded_csd"]+data["class_size"]["SCHOOL CODE"]

print(data["class_size"].head())

cols=["SAT Math Avg. Score","SAT Critical Reading Avg. Score","SAT Writing Avg. Score"]

for col in cols:
    data["sat_results"][col] = pd.to_numeric(data["sat_results"][col], errors="coerce")
    
data["sat_results"]["sat_score"]=0

for col in cols:
    data["sat_results"]["sat_score"]+=data["sat_results"][col]

print(data["sat_results"]["sat_score"].head())

import re

def find_lat(string):
    coords = re.findall("\(.+\)", string)
    lat = coords[0].split(",")[0].replace("(", "")
    return lat


data["hs_directory"]["lat"]=data["hs_directory"]["Location 1"].apply(find_lat)

print(data["hs_directory"]["lat"].head())

import re

def find_lon(string):
    coords=re.findall("\(.+\)", string)
    lat=coords[0].split(",")[1].replace(")","")
    return lat

data["hs_directory"]["lon"]=data["hs_directory"]["Location 1"].apply(find_lon)

print(data["hs_directory"]["lon"].head())

data["hs_directory"]["lat"]=pd.to_numeric(data["hs_directory"]["lat"], errors="coerce")
data["hs_directory"]["lon"]=pd.to_numeric(data["hs_directory"]["lon"], errors="coerce")

print("Latitude Data", 
      data["hs_directory"]["lat"].head(), 
      "Longitude Data", 
      data["hs_directory"]["lon"].head(), 
      sep="\n")

class_size=data["class_size"]

class_size=class_size[class_size["GRADE "]=="09-12"]
class_size=class_size[class_size["PROGRAM TYPE"]=="GEN ED"]

print(class_size.head())

import numpy as np
import pandas as pd

class_size=class_size.groupby("DBN").agg(np.mean)

class_size=class_size.reset_index()

data["class_size"]=class_size

print(data["class_size"].head())

school_20112012=data["demographics"]["schoolyear"]==20112012

data["demographics"]=data["demographics"][school_20112012]

print(data["demographics"].head())

data["graduation"]=data["graduation"][data["graduation"]["Cohort"]=="2006"]

data["graduation"]=data["graduation"][data["graduation"]["Demographic"]=="Total Cohort"]

print(data["graduation"].head())

cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for col in cols:
    data["ap_2010"][col]=pd.to_numeric(data["ap_2010"][col],errors="coerce")
    
    
print(data["ap_2010"][cols].dtypes)



combined = data["sat_results"]

combined=combined.merge(data["ap_2010"],how="left")

combined=combined.merge(data["graduation"],how="left")

print(combined.head())

print(combined.shape)

combined=combined.merge(data["class_size"],how="inner")

combined=combined.merge(data["demographics"],how="inner")

combined=combined.merge(data["survey"],how="inner")

combined=combined.merge(data["hs_directory"],how="inner")

print(combined.head())

print(combined.shape)

combined=combined.fillna(combined.mean())
combined=combined.fillna(0)

print(combined.head())

def first_two(string):
    return string[:2]

combined["school_dist"]=combined["DBN"].apply(first_two)

print(combined["school_dist"].head())

{'ap_2010':         DBN                                         SchoolName  \
0    01M448                       UNIVERSITY NEIGHBORHOOD H.S.
1    01M450                             EAST SIDE COMMUNITY HS
2    01M515                                LOWER EASTSIDE PREP
3    01M539                     NEW EXPLORATIONS SCI,TECH,MATH
4    02M296              High School of Hospitality Management
..      ...                                                ...
253  31R605                         STATEN ISLAND TECHNICAL HS
254  32K545                      EBC-HS FOR PUB SERVICE (BUSH)
255  32K552                          Academy of Urban Planning
256  32K554               All City Leadership Secondary School
257  32K556  Bushwick Leaders High School for Academic Exce...

    AP Test Takers  Total Exams Taken Number of Exams with scores 3 4 or 5
0                39                49                                   10
1                19                21                                    s
2                24                26                                   24
3               255               377                                  191
4                 s                 s                                    s
..              ...               ...                                  ...
253             528               905                                  809
254              47                64                                   13
255              76               100                                   10
256               7                 8                                    s
257              34                35                                   18

[258 rows x 5 columns], 'class_size':        CSD BOROUGH SCHOOL CODE                     SCHOOL NAME GRADE   \
0        1       M        M015       P.S. 015 Roberto Clemente     0K
1        1       M        M015       P.S. 015 Roberto Clemente     0K
2        1       M        M015       P.S. 015 Roberto Clemente     01
3        1       M        M015       P.S. 015 Roberto Clemente     01
4        1       M        M015       P.S. 015 Roberto Clemente     02
...    ...     ...         ...                             ...    ...
27606   32       K        K564  Bushwick Community High School  09-12
27607   32       K        K564  Bushwick Community High School  09-12
27608   32       K        K564  Bushwick Community High School  09-12
27609   32       K        K564  Bushwick Community High School  09-12
27610   32       K        K564  Bushwick Community High School    NaN

      PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
0           GEN ED                                    -
1              CTT                                    -
2           GEN ED                                    -
3              CTT                                    -
4           GEN ED                                    -
...            ...                                  ...
27606       GEN ED                       SOCIAL STUDIES
27607       GEN ED                       SOCIAL STUDIES
27608       GEN ED                       SOCIAL STUDIES
27609          CTT                                 MATH
27610          NaN                                  NaN

      CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
0                                       -                           -
1                                       -                           -
2                                       -                           -
3                                       -                           -
4                                       -                           -
...                                   ...                         ...
27606             US History & Government                           -
27607                           Economics                           -
27608         Participation in Government                           -
27609                  Integrated Algebra                           -
27610                                 NaN                         NaN

       NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
0                                   19.0                 1.0
1                                   21.0                 1.0
2                                   17.0                 1.0
3                                   17.0                 1.0
4                                   15.0                 1.0
...                                  ...                 ...
27606                              256.0                10.0
27607                               65.0                 2.0
27608                               53.0                 2.0
27609                               50.0                 2.0
27610                                NaN                 NaN

       AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
0                    19.0                    19.0                   19.0
1                    21.0                    21.0                   21.0
2                    17.0                    17.0                   17.0
3                    17.0                    17.0                   17.0
4                    15.0                    15.0                   15.0
...                   ...                     ...                    ...
27606                25.6                    15.0                   35.0
27607                32.5                    32.0                   33.0
27608                26.5                    25.0                   28.0
27609                25.0                    25.0                   25.0
27610                 NaN                     NaN                    NaN

      DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0             ATS                             NaN
1             ATS                             NaN
2             ATS                             NaN
3             ATS                             NaN
4             ATS                             NaN
...           ...                             ...
27606       STARS                             NaN
27607       STARS                             NaN
27608       STARS                             NaN
27609       STARS                             NaN
27610         NaN                            17.1

[27611 rows x 16 columns], 'demographics':           DBN                                              Name  schoolyear  \
0      01M015                         P.S. 015 ROBERTO CLEMENTE    20052006
1      01M015                         P.S. 015 ROBERTO CLEMENTE    20062007
2      01M015                         P.S. 015 ROBERTO CLEMENTE    20072008
3      01M015                         P.S. 015 ROBERTO CLEMENTE    20082009
4      01M015                         P.S. 015 ROBERTO CLEMENTE    20092010
...       ...                                               ...         ...
10070  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20072008
10071  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20082009
10072  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20092010
10073  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20102011
10074  32K564  BUSHWICK COMMUNITY HIGH SCHOOL                      20112012

      fl_percent  frl_percent  total_enrollment  prek     k grade1 grade2  \
0           89.4          NaN               281    15    36     40     33
1           89.4          NaN               243    15    29     39     38
2           89.4          NaN               261    18    43     39     36
3           89.4          NaN               252    17    37     44     32
4                        96.5               208    16    40     28     32
...          ...          ...               ...   ...   ...    ...    ...
10070       85.6          NaN               355   NaN   NaN    NaN    NaN
10071       65.2          NaN               383   NaN   NaN    NaN    NaN
10072                    89.2               395   NaN   NaN    NaN    NaN
10073                    88.2               420   NaN   NaN    NaN    NaN
10074        NaN         81.8               382

       ... black_num black_per hispanic_num hispanic_per white_num white_per  \
0      ...        74      26.3          189         67.3         5       1.8
1      ...        68      28.0          153         63.0         4       1.6
2      ...        77      29.5          157         60.2         7       2.7
3      ...        75      29.8          149         59.1         7       2.8
4      ...        67      32.2          118         56.7         6       2.9
...    ...       ...       ...          ...          ...       ...       ...
10070  ...       151      42.5          198         55.8         5       1.4
10071  ...       132      34.5          245         64.0         2       0.5
10072  ...       146      37.0          242         61.3         3       0.8
10073  ...       166      39.5          242         57.6         8       1.9
10074  ...       137      35.9          235         61.5         7       1.8

      male_num male_per female_num female_per
0        158.0     56.2      123.0       43.8
1        140.0     57.6      103.0       42.4
2        143.0     54.8      118.0       45.2
3        149.0     59.1      103.0       40.9
4        124.0     59.6       84.0       40.4
...        ...      ...        ...        ...
10070    181.0     51.0      174.0       49.0
10071    206.0     53.8      177.0       46.2
10072    199.0     50.4      196.0       49.6
10073    209.0     49.8      211.0       50.2
10074    169.0     44.2      213.0       55.8

[10075 rows x 38 columns], 'graduation':         Demographic     DBN                            School Name    Cohort  \
0      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug
...             ...     ...                                    ...       ...
25091          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2003
25092          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2004
25093          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2005
25094          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2006
25095          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL  2006 Aug

       Total Cohort Total Grads - n Total Grads - % of cohort  \
0                 5               s                         s
1                55              37                     67.3%
2                64              43                     67.2%
3                78              43                     55.1%
4                78              44                     56.4%
...             ...             ...                       ...
25091            65               1                      1.5%
25092            64               2                      3.1%
25093            79               3                      3.8%
25094            57               4                        7%
25095            57               4                        7%

      Total Regents - n Total Regents - % of cohort  \
0                     s                           s
1                    17                       30.9%
2                    27                       42.2%
3                    36                       46.2%
4                    37                       47.4%
...                 ...                         ...
25091                 0                          0%
25092                 0                          0%
25093                 1                        1.3%
25094                 2                        3.5%
25095                 2                        3.5%

      Total Regents - % of grads  ... Regents w/o Advanced - n  \
0                              s  ...                        s
1                          45.9%  ...                       17
2                          62.8%  ...                       27
3                          83.7%  ...                       36
4                          84.1%  ...                       37
...                          ...  ...                      ...
25091                         0%  ...                        0
25092                         0%  ...                        0
25093                      33.3%  ...                        1
25094                        50%  ...                        2
25095                        50%  ...                        2

      Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                      s                                 s
1                                  30.9%                             45.9%
2                                  42.2%                             62.8%
3                                  46.2%                             83.7%
4                                  47.4%                             84.1%
...                                  ...                               ...
25091                                 0%                                0%
25092                                 0%                                0%
25093                               1.3%                             33.3%
25094                               3.5%                               50%
25095                               3.5%                               50%

      Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
0             s                   s                    s                  s
1            20               36.4%                54.1%                 15
2            16                 25%  37.200000000000003%                  9
3             7                  9%                16.3%                 16
4             7                  9%                15.9%                 15
...         ...                 ...                  ...                ...
25091         1                1.5%                 100%               44.0
25092         2                3.1%                 100%               38.0
25093         2                2.5%                66.7%               46.0
25094         2                3.5%                  50%               34.0
25095         2                3.5%                  50%               34.0

      Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                                s               s                         s
1                            27.3%               3                      5.5%
2                            14.1%               9                     14.1%
3                            20.5%              11                     14.1%
4                            19.2%              11                     14.1%
...                            ...             ...                       ...
25091                        67.7%            20.0                     30.8%
25092                        59.4%            22.0                     34.4%
25093                        58.2%            28.0                     35.4%
25094                        59.6%            17.0                     29.8%
25095                        59.6%            17.0                     29.8%

[25096 rows x 23 columns], 'hs_directory':         dbn                                        school_name       boro  \
0    17K548                Brooklyn School for Music & Theatre   Brooklyn
1    09X543                   High School for Violin and Dance      Bronx
2    09X327        Comprehensive Model School Project M.S. 327      Bronx
3    02M280     Manhattan Early College School for Advertising  Manhattan
4    28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens
..      ...                                                ...        ...
430  10X225             Theatre Arts Production Company School      Bronx
431  11X508                              Bronxdale High School      Bronx
432  11X253  Bronx High School for Writing and Communicatio...      Bronx
433  02M316  Urban Assembly School of Business for Young Wo...  Manhattan
434  25Q525                        Townsend Harris High School     Queens

    building_code    phone_number    fax_number grade_span_min  \
0            K440    718-230-6250  718-230-6262              9
1            X400    718-842-0687  718-589-9849              9
2            X240    718-294-8111  718-294-8109              6
3            M520  718-935-3477             NaN              9
4            Q695    718-969-3155  718-969-3552              6
..            ...             ...           ...            ...
430          X137    718-584-0832  718-584-5102              6
431          X415    718-944-3655  718-944-3662              9
432          X425    718-944-5660  718-944-5690              9
433          M282    212-668-0169  212-668-0635              9
434          Q515    718-575-5580  718-575-1366              9

     grade_span_max expgrade_span_min  expgrade_span_max  ...  \
0                12               NaN                NaN  ...
1                12               NaN                NaN  ...
2                12               NaN                NaN  ...
3                10                 9               14.0  ...
4                12               NaN                NaN  ...
..              ...               ...                ...  ...
430              12               NaN                NaN  ...
431              12               NaN                NaN  ...
432              12               NaN                NaN  ...
433              12               NaN                NaN  ...
434              12               NaN                NaN  ...

                                            priority02  \
0                      Then to New York City residents
1    Then to New York City residents who attend an ...
2    Then to Bronx students or residents who attend...
3    Then to New York City residents who attend an ...
4    Then to Districts 28 and 29 students or residents
..                                                 ...
430                Then to Bronx students or residents
431  Then to New York City residents who attend an ...
432  Then to New York City residents who attend an ...
433  Priority to Manhattan students or residents wh...
434                                                NaN

                                            priority03  \
0                                                  NaN
1                  Then to Bronx students or residents
2    Then to New York City residents who attend an ...
3            Then to Manhattan students or residents
4                 Then to Queens students or residents
..                                                 ...
430                    Then to New York City residents
431                Then to Bronx students or residents
432                Then to Bronx students or residents
433  Then to New York City residents who attend an ...
434                                                NaN

                                  priority04                       priority05  \
0                                        NaN                              NaN
1            Then to New York City residents                              NaN
2        Then to Bronx students or residents  Then to New York City residents
3            Then to New York City residents                              NaN
4            Then to New York City residents                              NaN
..                                       ...                              ...
430                                      NaN                              NaN
431          Then to New York City residents                              NaN
432          Then to New York City residents                              NaN

      dbn    bn                      schoolname  d75 studentssurveyed  \
0  01M015  M015       P.S. 015 Roberto Clemente    0               No
1  01M019  M019             P.S. 019 Asher Levy    0               No
2  01M020  M020            P.S. 020 Anna Silver    0               No
3  01M034  M034  P.S. 034 Franklin D. Roosevelt    0              Yes
4  01M063  M063       P.S. 063 William McKinley    0               No

   highschool                  schooltype  rr_s  rr_t  rr_p  ...  s_q14_2  \
0         0.0           Elementary School   NaN    88    60  ...      NaN
1         0.0           Elementary School   NaN   100    60  ...      NaN
2         0.0           Elementary School   NaN    88    73  ...      NaN
3         0.0  Elementary / Middle School  89.0    73    50  ...      NaN
4         0.0           Elementary School   NaN   100    60  ...      NaN

   s_q14_3  s_q14_4  s_q14_5  s_q14_6  s_q14_7  s_q14_8  s_q14_9  s_q14_10  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN

   s_q14_11
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

[5 rows x 2773 columns]
       DBN  rr_s  rr_t  rr_p    N_s   N_t    N_p  saf_p_11  com_p_11  \
0   01M015   NaN    88    60    NaN  22.0   90.0       8.5       7.6
1   01M019   NaN   100    60    NaN  34.0  161.0       8.4       7.6
2   01M020   NaN    88    73    NaN  42.0  367.0       8.9       8.3
3   01M034  89.0    73    50  145.0  29.0  151.0       8.8       8.2
4   01M063   NaN   100    60    NaN  23.0   90.0       8.7       7.9
..     ...   ...   ...   ...    ...   ...    ...       ...       ...
51  75X352  90.0    58    48   38.0  46.0  160.0       8.9       8.3
52  75X721  84.0    90    48  237.0  82.0  239.0       8.6       7.6
53  75X723  77.0    74    20  103.0  69.0   74.0       8.4       7.8
54  75X754  63.0    93    22  336.0  82.0  124.0       8.3       7.5
55  75X811  38.0    63    19   44.0  71.0  119.0       8.5       7.8

    eng_p_11  ...  eng_t_11  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0        7.5  ...       7.6       7.9       NaN       NaN       NaN       NaN
1        7.6  ...       8.9       9.1       NaN       NaN       NaN       NaN
2        8.3  ...       6.8       7.5       NaN       NaN       NaN       NaN
3        8.0  ...       6.8       7.8       6.2       5.9       6.5       7.4
4        8.1  ...       7.8       8.1       NaN       NaN       NaN       NaN
..       ...  ...       ...       ...       ...       ...       ...       ...
51       7.9  ...       5.7       5.8       6.8       6.0       7.8       7.6
52       7.5  ...       6.7       7.0       7.8       7.2       7.8       7.9
53       7.8  ...       6.7       7.6       6.7       7.2       7.7       7.7
54       7.5  ...       6.6       7.1       6.8       6.6       7.6       7.7
55       7.7  ...       6.5       7.0       7.7       6.1       7.7       7.7

    saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0          8.0         7.7         7.5         7.9
1          8.5         8.1         8.2         8.4
2          8.2         7.3         7.5         8.0
3          7.3         6.7         7.1         7.9
4          8.5         7.6         7.9         8.0
..         ...         ...         ...         ...
51         7.4         6.6         7.1         7.2
52         8.0         7.1         7.3         7.6
53         7.6         7.4         7.4         7.7
54         7.2         6.9         7.3         7.5
55         7.7         6.8         7.3         7.5

[1702 rows x 23 columns]
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  \
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

  padded_csd     DBN
0         01  01M015
1         01  01M015
2         01  01M015
3         01  01M015
4         01  01M015
0    1122.0
1    1172.0
2    1149.0
3    1174.0
4    1207.0
Name: sat_score, dtype: float64
0     40.67029890700047
1      40.8276026690005
2    40.842414068000494
3     40.71067947100045
4    40.718810094000446
Name: lat, dtype: object
0     -73.96164787599963
1     -73.90447525699966
2     -73.91616158599965
3     -74.00080702099967
4     -73.80650045499965
Name: lon, dtype: object
Latitude Data
0    40.670299
1    40.827603
2    40.842414
3    40.710679
4    40.718810
Name: lat, dtype: float64
Longitude Data
0   -73.961648
1   -73.904475
2   -73.916162
3   -74.000807
4   -73.806500
Name: lon, dtype: float64
     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO padded_csd     DBN
225       STARS                             NaN         01  01M292
226       STARS                             NaN         01  01M292
227       STARS                             NaN         01  01M292
228       STARS                             NaN         01  01M292
229       STARS                             NaN         01  01M292
      DBN  CSD  NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
0  01M292    1                            88.0000            4.000000
1  01M332    1                            46.0000            2.000000
2  01M378    1                            33.0000            1.000000
3  01M448    1                           105.6875            4.750000
4  01M450    1                            57.6000            2.733333

   AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
0           22.564286                   18.50              26.571429
1           22.000000                   21.00              23.500000
2           33.000000                   33.00              33.000000
3           22.231250                   18.25              27.062500
4           21.200000                   19.40              22.866667

   SCHOOLWIDE PUPIL-TEACHER RATIO
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
       DBN                                              Name  schoolyear  \
6   01M015  P.S. 015 ROBERTO CLEMENTE                           20112012
13  01M019  P.S. 019 ASHER LEVY                                 20112012
20  01M020  PS 020 ANNA SILVER                                  20112012
27  01M034  PS 034 FRANKLIN D ROOSEVELT                         20112012
35  01M063  PS 063 WILLIAM MCKINLEY                             20112012

   fl_percent  frl_percent  total_enrollment prek    k grade1 grade2  ...  \
6         NaN         89.4               189   13   31     35     28  ...
13        NaN         61.5               328   32   46     52     54  ...
20        NaN         92.5               626   52  102    121     87  ...
27        NaN         99.7               401   14   34     38     36  ...
35        NaN         78.9               176   18   20     30     21  ...

   black_num black_per hispanic_num hispanic_per white_num white_per male_num  \
6         63      33.3          109         57.7         4       2.1     97.0
13        81      24.7          158         48.2        28       8.5    147.0
20        55       8.8          357         57.0        16       2.6    330.0
27        90      22.4          275         68.6         8       2.0    204.0
35        41      23.3          110         62.5        15       8.5     97.0

   male_per female_num female_per
6      51.3       92.0       48.7
13     44.8      181.0       55.2
20     52.7      296.0       47.3
27     50.9      197.0       49.1
35     55.1       79.0       44.9

[5 rows x 38 columns]
     Demographic     DBN                            School Name Cohort  \
3   Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2006
10  Total Cohort  01M448    UNIVERSITY NEIGHBORHOOD HIGH SCHOOL   2006
17  Total Cohort  01M450             EAST SIDE COMMUNITY SCHOOL   2006
24  Total Cohort  01M509                MARTA VALLE HIGH SCHOOL   2006
31  Total Cohort  01M515  LOWER EAST SIDE PREPARATORY HIGH SCHO   2006

    Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
3             78              43                     55.1%                36
10           124              53                     42.7%                42
17            90              70                     77.8%                67
24            84              47                       56%                40
31           193             105                     54.4%                91

   Total Regents - % of cohort Total Regents - % of grads  ...  \
3                        46.2%                      83.7%  ...
10                       33.9%                      79.2%  ...
17         74.400000000000006%                      95.7%  ...
24                       47.6%                      85.1%  ...
31                       47.2%                      86.7%  ...

   Regents w/o Advanced - n Regents w/o Advanced - % of cohort  \
3                        36                              46.2%
10                       34                              27.4%
17                       67                74.400000000000006%
24                       23                              27.4%
31                       22                              11.4%

   Regents w/o Advanced - % of grads Local - n Local - % of cohort  \
3                              83.7%         7                  9%
10                             64.2%        11                8.9%
17                             95.7%         3                3.3%
24                             48.9%         7  8.300000000000001%
31                               21%        14                7.3%

   Local - % of grads Still Enrolled - n Still Enrolled - % of cohort  \
3               16.3%                 16                        20.5%
10              20.8%                 46                        37.1%
17               4.3%                 15                        16.7%
24              14.9%                 25                        29.8%
31              13.3%                 53                        27.5%

   Dropped Out - n Dropped Out - % of cohort
3               11                     14.1%
10              20       16.100000000000001%
17               5                      5.6%
24               5                        6%
31              35       18.100000000000001%

[5 rows x 23 columns]
AP Test Takers                          float64
Total Exams Taken                       float64
Number of Exams with scores 3 4 or 5    float64
dtype: object
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                      7                            414.0
4                     44                            390.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                401.0                   359.0     1174.0
4                433.0                   384.0     1207.0

                     SchoolName  AP Test Takers   Total Exams Taken  ...  \
0                           NaN              NaN                NaN  ...
1  UNIVERSITY NEIGHBORHOOD H.S.             39.0               49.0  ...
2        EAST SIDE COMMUNITY HS             19.0               21.0  ...
3                           NaN              NaN                NaN  ...
4                           NaN              NaN                NaN  ...

   Regents w/o Advanced - n Regents w/o Advanced - % of cohort  \
0                        36                              46.2%
1                        34                              27.4%
2                        67                74.400000000000006%
3                       NaN                                NaN
4                        23                              27.4%

  Regents w/o Advanced - % of grads Local - n  Local - % of cohort  \
0                             83.7%         7                   9%
1                             64.2%        11                 8.9%
2                             95.7%         3                 3.3%
3                               NaN       NaN                  NaN
4                             48.9%         7   8.300000000000001%

  Local - % of grads Still Enrolled - n Still Enrolled - % of cohort  \
0              16.3%                 16                        20.5%
1              20.8%                 46                        37.1%
2               4.3%                 15                        16.7%
3                NaN                NaN                          NaN
4              14.9%                 25                        29.8%

  Dropped Out - n Dropped Out - % of cohort
0              11                     14.1%
1              20       16.100000000000001%
2               5                      5.6%
3             NaN                       NaN
4               5                        6%

[5 rows x 33 columns]
(479, 33)
      DBN                                        SCHOOL NAME  \
0  01M292      HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448                UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                         EAST SIDE COMMUNITY SCHOOL
3  01M509                            MARTA VALLE HIGH SCHOOL
4  01M539  NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...

  Num of SAT Test Takers  SAT Critical Reading Avg. Score  \
0                     29                            355.0
1                     91                            383.0
2                     70                            377.0
3                     44                            390.0
4                    159                            522.0

   SAT Math Avg. Score  SAT Writing Avg. Score  sat_score  \
0                404.0                   363.0     1122.0
1                423.0                   366.0     1172.0
2                402.0                   370.0     1149.0
3                433.0                   384.0     1207.0
4                574.0                   525.0     1621.0

                       SchoolName  AP Test Takers   Total Exams Taken  ...  \
0                             NaN              NaN                NaN  ...
1    UNIVERSITY NEIGHBORHOOD H.S.             39.0               49.0  ...
2          EAST SIDE COMMUNITY HS             19.0               21.0  ...
3                             NaN              NaN                NaN  ...
4  NEW EXPLORATIONS SCI,TECH,MATH            255.0              377.0  ...

                                priority04                       priority05  \
0  Then to Manhattan students or residents  Then to New York City residents
1                                      NaN                              NaN
2                                      NaN                              NaN
3                                      NaN                              NaN
4                                      NaN                              NaN

  priority06 priority07  priority08 priority09 priority10  \
0        NaN        NaN         NaN        NaN        NaN
1        NaN        NaN         NaN        NaN        NaN
2        NaN        NaN         NaN        NaN        NaN
3        NaN        NaN         NaN        NaN        NaN

Over the last two missions, we began investigating possible relationships between SAT scores and demographics. In order to do this, we acquired several data sets containing information about New York City public schools. We cleaned them, then combined them into a single data set named combined that we're now ready to analyze and visualize.

In this mission, we'll discover correlations, create plots, and then make maps. The first thing we'll do is find any correlations between any of the columns and sat_score. This will help us determine which columns might be interesting to plot out or investigate further. Afterwards, we'll perform more analysis and make maps using the columns we've identified.

# 2. Finding Correlations With the r Value

Correlations tell us how closely related two columns are. We'll be using the r value, also called Pearson's correlation coefficient, which measures how closely two sequences of numbers are correlated.

An r value falls between -1 and 1. The value tells us whether two columns are positively correlated, not correlated, or negatively correlated. The closer to 1 the r value is, the stronger the positive correlation between the two columns. The closer to -1 the r value is, the stronger the negative correlation (i.e., the more "opposite" the columns are). The closer to 0, the weaker the correlation. To learn more about r values, see the statistics course.

Because we're interested in exploring the fairness of the SAT, a strong positive or negative correlation between a demographic factor like race or gender and SAT score would be an interesting result meriting investigation. If men tended to score higher on the SAT, for example, that would indicate that the SAT is potentially unfair to women, and vice-versa.

We can use the pandas pandas.DataFrame.corr() method to find correlations between columns in a dataframe. The method returns a new dataframe where the index for each column and row is the name of a column in the original data set.

# 3. Finding Correlations With the r Value

In [7]:
correlations=combined.corr()

correlations=correlations["sat_score"]

print(correlations)

SAT Critical Reading Avg. Score    0.986820
SAT Math Avg. Score                0.972643
SAT Writing Avg. Score             0.987771
sat_score                          1.000000
AP Test Takers                     0.523140
                                     ...
priority08                              NaN
priority09                              NaN
priority10                              NaN
lat                               -0.121029
lon                               -0.132222
Name: sat_score, Length: 67, dtype: float64

# 4. Plotting Enrollment With the Plot() Accessor

Unsurprisingly, SAT Critical Reading Avg. Score, SAT Math Avg. Score, SAT Writing Avg. Score, and sat_score are strongly correlated with sat_score.

We can also make some other observations:

* total_enrollment has a strong positive correlation with sat_score. This is surprising because we'd expect smaller schools where students receive more attention to have higher scores. However, it looks like the opposite is true -- larger schools tend to do better on the SAT.
    * Other columns that are proxies for enrollment correlate similarly. These include total_students, N_s, N_p, N_t, AP Test Takers, Total Exams Taken, and NUMBER OF SECTIONS.
* Both the percentage of females (female_per) and number of females (female_num) at a school correlate positively with SAT score, whereas the percentage of males (male_per) and the number of males (male_num) correlate negatively. This could indicate that women do better on the SAT than men.
* Teacher and student ratings of school safety (saf_t_11, and saf_s_11) correlate with sat_score.
* Student ratings of school academic standards (aca_s_11) correlate with sat_score, but this does not hold for ratings from teachers and parents (aca_p_11 and aca_t_11).
* There is significant racial inequality in SAT scores (white_per, asian_per, black_per, hispanic_per).
* The percentage of English language learners at the school (ell_percent, frl_percent) has a strong negative correlation with SAT scores.

Because enrollment seems to have such a strong correlation, let's make a scatterplot of total_enrollment vs sat_score. Each point in the scatterplot will represent a high school, so we'll be able to see if there are any interesting patterns.

We can plot columns in a dataframe using the pandas.DataFrame.plot() accessor on a dataframe. We can also specify a certain plot type. For example, df.plot.scatter(x="A", y="b") will create a scatterplot of columns A and B.

# 5. Plotting Enrollment With the Plot() Accessor

In [ ]:
import matplotlib.pyplot as plt